<template>
    <div>
        <div class="container-scroller">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo mr-5" href="#"><img src="/images/logo.jpg" class="mr-2" alt="logo"/></a>
                    <a class="navbar-brand brand-logo-mini" href="#"><img src="/images/logo.jpg" alt="logo"/></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="ti-layout-grid2"></span>
                    </button>
                    <ul class="navbar-nav mr-lg-2">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
                                </div>
                                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">


                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <img src="/images/index.png" alt="profile"/>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                <router-link :to="{name:'profile'}" class="dropdown-item">
                                    <i class="ti-user text-primary"></i>
                                    Profile
                                </router-link>
                                <a class="dropdown-item" v-on:click="logout()">
                                    <i class="ti-power-off text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item nav-settings d-none d-lg-flex">
                            <a class="nav-link" href="#">
                                <i class="ti-more"></i>
                            </a>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="ti-layout-grid2"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">

                <nav class="sidebar sidebar-offcanvas border bg-white" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <router-link :to="{name:'home'}" class="nav-link" href="#">
                                <i class="ti-home menu-icon"></i>
                                <span class="menu-title">Dashboard</span>
                            </router-link>
                        </li>
                        <li  class="nav-item">
                            <router-link :to="{name:'companies'}" class="nav-link" href="#">
                                <i class="ti-unlink menu-icon"></i>
                                <span class="menu-title">Companies</span>
                            </router-link>
                        </li>
                        <li  class="nav-item">
                            <router-link :to="{name:'clients'}" class="nav-link" href="#">
                                <i class="ti-unlink menu-icon"></i>
                                <span class="menu-title">Clients</span>
                            </router-link>
                        </li>
                        <li  class="nav-item">
                            <router-link :to="{name:'branches'}" class="nav-link" href="#">
                                <i class="ti-link menu-icon"></i>
                                <span class="menu-title">Branches</span>
                            </router-link>
                        </li>
                        <li  class="nav-item">
                            <router-link :to="{name:'guards'}" class="nav-link" href="#">
                                <i class="ti-alert menu-icon"></i>
                                <span class="menu-title">Guards</span>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{name:'reports'}" class="nav-link" href="#">
                                <i class="ti-book menu-icon"></i>
                                <span class="menu-title">Reports</span>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{name:'reports'}" class="nav-link" href="#">
                                <i class="ti-info menu-icon"></i>
                                <span class="menu-title">Invoice</span>
                            </router-link>
                        </li>
                        <li   class="nav-item">
                            <router-link :to="{name:'users'}" class="nav-link" href="#">
                                <i class="ti-user menu-icon"></i>
                                <span class="menu-title">Users</span>
                            </router-link>
                        </li>
                        <li   class="nav-item">
                            <router-link :to="{name:'profile'}" class="nav-link" href="#">
                                <i class="ti-key menu-icon"></i>
                                <span class="menu-title">Profile</span>
                            </router-link>
                        </li>
                        <li   class="nav-item">
                            <a v-on:click="logout()" class="nav-link" href="#">
                                <i class="ti-arrow-right menu-icon"></i>
                                <span class="menu-title">Logout</span>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">

                        <router-view></router-view>

                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 <a href="#" target="_blank">SmartGuard</a>. All rights reserved.</span>
                            <!--<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>-->
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <offline @detected-condition="handleConnectivityChange">
            <!--&lt;!&ndash; Only renders when the device is online &ndash;&gt;-->
            <!--<div slot="online">-->
            <!--<p>It looks like you're online! Here's all the things you can do...</p>-->
            <!--...-->
            <!--</div>-->
            <!--&lt;!&ndash; Only renders when the device is offline &ndash;&gt;-->
            <!--<div slot="offline">-->
            <!--<p>You appear to be offline, that's okay, we can still do things...</p>-->
            <!--...-->
            <!--</div>-->
        </offline>
    </div>
</template>
<script>
    import offline from 'v-offline';
    export default {
        components: {
            offline
        },
        data() {
            return {
                proxyUrl: process.env.MIX_APP_URL,
                name:'',
                user_type:'',
                role:'',
                auth:'',
                category:[],
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.role=localStorage.getItem('role');
            this.user_type=localStorage.getItem('user_type');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
                this.role=localStorage.getItem('role');
                this.user_type=localStorage.getItem('user_type');
            }
        },
        methods: {
            logout() {
                clearSession();
                this.$router.push({name: 'login'});
            },
            handleConnectivityChange(status) {
                if(status){
                }else{
                    alert('It looks like you are offline.check your internet connectivity')
                }

            }
        }
    }
</script>
