<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Company Reports ( <span class="text-success">{{name}}</span>-<span class="text-info">{{branch}} </span>)-- {{report.length}} Records</h4>
                        <div class="d-flex float-left">
                            <div class="form-group mr-3">
                                <select class="form-control" id="exampleSelectGender">
                                    <option disabled selected="selected">Select company</option>
                                    <option v-for="data in company" v-on:click="changeId(data.id,data.company_name)">{{data.company_name}}</option>
                                </select>
                            </div>
                            <div class="form-group mr-3">
                                <select class="form-control" id="exampleSelectGender">
                                    <option disabled selected="selected">Select client</option>
                                    <option v-for="data in clients" v-on:click="changeClientId(data.id,data.name)">{{data.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="exampleSelectGender">
                                    <option disabled selected="selected">Select branch</option>
                                    <option v-for="data in branches" v-on:click="changeBranchId(data.id,data.name)">{{data.name}}</option>
                                </select>
                            </div>
                            <div class="form-group ml-3">
                                <p>OR</p>
                            </div>
                            <div class="form-group ml-3">
                                <select class="form-control" id="exampleSelectGender">
                                    <option disabled selected="selected">Select guard</option>
                                    <option v-for="data in guards" v-on:click="changeGuardId(data.id,data.name)">{{data.name}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <label class="text-warning">Select date from </label>
                                    <input type="date" v-model="message.date_from" class="form-control form-control-sm">
                                </div>
                            </div>
                        <div class="mb-3 mb-xl-0 ">
                            <div class="form-group">
                                <label class="text-warning">Select date to </label>
                                <input type="date" v-model="message.date_to" class="form-control form-control-sm" v-on:change="admin_get_report()">
                            </div>
                        </div>
                        <div class="mb-3 mb-xl-0 ml-3">
                            <div class="form-group">
                                <label class="text-warning">Print </label>
                                <download-excel :data="report">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>phone</th>
                                    <th>ID</th>
                                    <th>Temp</th>
                                    <th>Car</th>
                                    <th>Department</th>
                                    <th>Reason</th>
                                    <th>Input by</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in report">
                                    <td>{{index+1}}</td>
                                    <td>{{data.fname}} {{data.mname}} {{data.lname}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.id_no}}</td>
                                    <td>{{data.temperature}}</td>
                                    <td>{{data.car_re_no}}</td>
                                    <td>{{data.department}}</td>
                                    <td>{{data.reason}}</td>
                                    <td>{{data.user}}</td>
                                    <td>{{data.created_at}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    id:'',
                    user_id:'',
                    name:'',
                    email:'',
                    phone:'',
                    staff_no:'',
                    id_no:'',
                    branch_id:'',
                    status:'',
                    guard_id:''
                },
                report:[],
                branches:[],
                clients:[],
                name:'',
                branch:'',
                guards:[],
                company:[],
            }
        },
        created(){
            this.admin_get_companies();
        },
        methods: {
            changeId(id) {
                this.message.id = id;
                this.admin_get_clients();
            },
            changeClientId(id,name) {
                this.message.client_id = id;
                this.name=name;
                this.admin_get_branches();
            },
            changeBranchId(id,name) {
                this.message.guard_id='';
                this.message.branch_id = id;
                this.branch=name;
                this.admin_get_guards();
            },
            changeGuardId(id,name){
                this.message.guard_id=id;
            },
            admin_get_guards(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_guards`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.guards=response.data.guards;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            admin_get_report(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `admin_get_report`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            admin_get_branches() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_branches`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.branches=response.data.branches;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            admin_get_companies() {
                let uri =this.proxyUrl+`admin_get_companies`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.company=response.data.companies;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },

            admin_get_clients() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_clients`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.clients=response.data.clients;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },


        }
    }

</script>
