/*
    Template Name    : EduPark
	Description		 : Responsive HTML Educational Template
    Version          : 1.0
/*
================================================
/* Table of Content
==================================================

1. Fonts - Poppins and Hind
2. Common CSS
3. Loader CSS
4. Main Header 
5. Sticky Header
6. Mobile Menu
7. Banner Section
8. About Area
9. CTA Area
10. Services Area
11. Counters Area
12. Our Team
13. Testimonials Sec
14. Pricing Table Sec
15. Gallery Sec
16. Blog Sec
17. Brand Slider Sec
18. Page Banner
19. FAQ Sec
20. Error Sec
21. Contact Sec
22. Footer Sec
23. Responsive CSS

/*
================================================
1. Fonts - Poppins and Hind
================================================
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800|Hind:300,400,500,600,700');
/*
================================================
2. Common CSS
================================================
*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Hind', sans-serif;
	font-size: 15px;
	line-height: 1.57143;
	font-weight: 400;
	color: #2d2e2e;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	margin-top: 0;
}
a {
	color: #2d2e2e;
	transition: all 0.3s ease 0s;
}
a:hover {
	color: #242c42;
	text-decoration: none;
}
a, a:hover, a:active, a:focus {
	outline: none;
	text-decoration: none;
}
/*.btn, .btn * {*/
	/*transition: all 0.3s ease 0s;*/
/*}*/
/*button:hover, button:focus {*/
	/*outline: none;*/
	/*border: none;*/
/*}*/
i {
	transition: all 0.4s ease-in-out 0s;
}
.transition3s {
	transition: all 0.3s ease-in-out 0s;
}
ul, li {
	list-style: outside none none;
}
ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.pb-100 {
	padding-bottom: 100px;
}
.single-privacy h3 {
	font-weight: 600;
}
section {
	padding: 90px 0;
	position: relative;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.auto-container {
	position: static;
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}
/** Scrool Top */
#scrollUp {
	background: #575454;
	height: 45px;
	width: 45px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 22px;
	line-height: 45px;
	transition: .3s;
}
#scrollUp::after {
	position: absolute;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 1;
	z-index: -1;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
	background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
#scrollUp:hover {
	background: #FF7900;
}
/* Sec Title */
.sec-title {
	margin-bottom: 65px;
}
.sec-title h2 {
	font-size: 32px;
	color: #202A30;
	font-weight: bold;
	margin: 0;
	margin-bottom: 15px;
}
.sec-title h2 span {
	color: #FF7900;
}
.sec-title span.decor {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #FF7900;
	background: #fff;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.sec-title span.decor::before {
	left: 14px;
}
.sec-title span.decor::before, .sec-title span.decor::after {
	content: '';
	position: absolute;
	top: 5px;
	width: 50px;
	height: 2px;
	background: #dcdcdc;
	z-index: -1;
}
.sec-title span.decor::after {
	right: 14px;
}
.sec-title span.inner {
	width: 6px;
	height: 6px;
	background: #82c852;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top: 3px;
}
/* Button Effects */
/*.btn {*/
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	/*-webkit-transform: perspective(1px) translateZ(0);*/
	/*transform: perspective(1px) translateZ(0);*/
	/*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
	/*position: relative;*/
	/*-webkit-transition-property: color;*/
	/*transition-property: color;*/
	/*-webkit-transition-duration: 0.5s;*/
	/*transition-duration: 0.5s;*/
	/*border-radius: 0;*/
	/*padding: 11px 40px 12px;*/
	/*font-size: 19px;*/
	/*color: #fff;*/
	/*font-weight: 500;*/
	/*background: #86bc42;*/
	/*border: none;*/
/*}*/
/*.btn:before {*/
	/*content: "";*/
	/*position: absolute;*/
	/*z-index: -1;*/
	/*top: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	/*bottom: 0;*/
	/*background: #242c42;*/
	/*-webkit-transform: scaleX(0);*/
	/*transform: scaleX(0);*/
	/*-webkit-transform-origin: 0 50%;*/
	/*transform-origin: 0 50%;*/
	/*-webkit-transition-property: transform;*/
	/*transition-property: transform;*/
	/*-webkit-transition-duration: 0.5s;*/
	/*transition-duration: 0.5s;*/
	/*-webkit-transition-timing-function: ease-out;*/
	/*transition-timing-function: ease-out;*/
/*}*/
/*.btn:hover, .btn:focus, .btn:active {*/
	/*color: #fff;*/
/*}*/
/*.btn:hover:before, .btn:focus:before, .btn:active:before {*/
	/*-webkit-transform: scaleX(1);*/
	/*transform: scaleX(1);*/
	/*-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);*/
	/*transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);*/
/*}*/
/*Btn Style One*/

.btn-style-one {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 600;
	text-transform: capitalize;
	font-family: 'Hind', sans-serif;
	border-radius: 0px;
	overflow: hidden;
}
.btn-style-one:hover {
	color: #ffffff;
}
.btn-style-one .btn-title {
	position: relative;
	display: block;
	z-index: 1;
	padding: 12px 80px 12px 30px;
	background: #FF7900;
	letter-spacing: 0.05em;
	border-radius: 0px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.btn-style-one:hover .btn-title {
	color: #ffffff;
}
.btn-style-one .btn-title .btn-icon {
	position: absolute;
	right: 0;
	top: 0;
	width: 51px;
	height: 100%;
	font-size: 16px;
	padding: 12px 10px;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,0.20);
}
.btn-style-one .btn-title .btn-icon .icon {
	position: relative;
	font-weight: 700;
	display: block;
	line-height: 30px;
}
.btn-style-one .btn-title:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	background: #222222;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	transform-origin: bottom right;
	-webkit-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-moz-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-o-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
	transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}
.btn-style-one:hover .btn-title:before {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
}
/*
================================================
3. Loader CSS
================================================
*/
#dvLoading {
	background: url(../images/loader.gif) no-repeat center center #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999999;
}
/*
================================================
4. Top Header
================================================
*/
.top-header {
	/*background-color: #2874F0;*/
	background-color: #00431B;
	padding-top: 20px;
	padding-bottom: 14px;
}
.top-header .top-header-left {
	list-style: none;
	margin: 0;
	padding: 0;
}
.top-header .top-header-left li {
	display: inline-block;
	margin-right: 20px;
}
.top-header .top-header-left li a {
	color: #ffffff;
	margin-bottom: 0;
}
.top-header .top-header-right {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
.top-header .top-header-right li {
	display: inline-block;
	color: #acbee8;
	margin-left: 65px;
}
.top-header .top-header-right li i {
	color: #8390b0;
	margin-right: 10px;
	font-size: 18px;
}
.top-header .top-header-right li a {
	color: #acbee8;
}
/*
================================================
5. Mani Navigation
================================================
*/
.sticky .top-nav, .sticky .mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	bottom: initial;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	animation: fadeInDown 0.5s both 0.1s;
	box-shadow: 0px 0px 13px #00000054;
	width: 100%;
	background: #fff;
}
.navbar-area {
	background-color: transparent;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}
.navbar-light {
	padding: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
}
.navbar-light .navbar-brand img {
	float: left;
	padding: 5px 0;
}
.navbar-light .navbar-brand-sticky {
	display: none;
}
/* Main nav */
.main-nav {
	position: inherit;
	background-color: transparent;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	z-index: 999;
	height: auto;
}
.main-nav nav .navbar-nav .nav-item:hover a, .main-nav nav .navbar-nav .nav-item .active {
	color: #FF7900 !important;
}
.main-nav nav .navbar-nav .nav-item a {
	text-transform: capitalize;
	color: #6f7c8a;
	font-weight: 600;
	margin-left: 12px;
	margin-right: 12px;
	font-size: 18px;
}
.main-nav nav .navbar-nav .nav-item a i {
	line-height: 0;
	position: relative;
	top: 3px;
	font-size: 18px;
}
.main-nav nav .navbar-nav .nav-item a:hover, .main-nav nav .navbar-nav .nav-item a :focus {
	color: #FF7900 !important;
}
.main-nav nav .navbar-nav .nav-item a.active {
	color: #FF7900 !important;
}
.main-nav nav .navbar-nav .nav-item a .active::before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu {
	border: none;
	padding: 0;
	border-radius: 0;
	background-color: #ffffff !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li {
	border-bottom: 1px solid rgba(219, 140, 35, 0.2);
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li:last-child {
	border-bottom: none;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
	text-transform: capitalize;
	color: #6f7c8a !important;
	position: relative;
	-webkit-transition: 0.7s;
	transition: 0.7s;
	font-weight: 400;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
	border-radius: .25rem;
	color: #FF7900 !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a :focus, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a .active {
	color: #FF7900 !important;
	margin-left: 5px;
	border-radius: .25rem;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li.active {
	color: #FF7900 !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
	left: 100%;
	top: 20px;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: 100%;
}
.top-nav {
	position: inherit;
	background-color: transparent;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	z-index: 999;
	height: auto;
}
.top-nav nav .navbar-nav .nav-item:hover a, .top-nav nav .navbar-nav .nav-item .active {
	color: #FF7900 !important;
}
.top-nav nav .navbar-nav .nav-item a:hover, .top-nav nav .navbar-nav .nav-item a :focus {
	color: #FF7900 !important;
}
.top-nav nav .navbar-nav .nav-item a.active {
	color: #FF7900 !important;
}
.oftop-nav {
	position: absolute;
	background-color: transparent;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	z-index: 999;
	height: auto;
}
.oftop-nav nav .navbar-nav .nav-item:hover a, .oftop-nav nav .navbar-nav .nav-item .active {
	color: #ab842a !important;
}
.oftop-nav nav .navbar-nav .nav-item a {
	color: #ffffff !important;
}
.oftop-nav nav .navbar-nav .nav-item a:hover, .oftop-nav nav .navbar-nav .nav-item a :focus {
	color: #ab842a !important;
}
.oftop-nav nav .navbar-nav .nav-item a.active {
	color: #ab842a !important;
}
.side-btn-area {
	display: inline-block;
}
.side-btn-area .call-btn {
	font-size: 18px;
	color: #234467;
	margin-right: 20px;
	display: inline-block;
}
.side-btn-area .call-btn i {
	font-size: 22px;
	position: relative;
	top: 5px;
}
.side-btn-area .call-btn:hover {
	color: #FF7900;
}
.appointment-btn {
	display: inline-block;
	position: relative;
	top: 0px;
}
.sticky-nav {
	top: 0;
	position: fixed;
	-webkit-animation: 900ms ease-in-out 5s normal none 1 running fadeInDown;
	animation: 900ms ease-in-out 5s normal none 1 running fadeInDown;
	-webkit-transition: 0.9s;
	transition: 0.9s;
	width: 100% !important;
	z-index: 999;
}
.sticky-nav .main-nav {
	top: 0;
	background-color: #ffffff;
	position: fixed;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.sticky-nav .oftop-nav {
	top: 0;
	background-color: #192028;
	position: fixed;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/*
================================================
6. Quote Popup
================================================
*/
/** Quote Popup **/
.quote-part {
	position: relative;
	background-color: #fff;
	margin: 20px auto;
	transition: 1s all;
	max-width: 800px;
	padding: 50px;
	font-family: 'Poppins', sans-serif;
}
.quote-part .section-title {
	margin-bottom: 15px;
	padding-bottom: 0;
}
.section-title .section-span {
	font-size: 25px;
	color: #317bb9;
	font-weight: 600;
}
.section-title .head-two {
	font-size: 35px;
	font-weight: 600;
	color: #121619;
	margin-top: 5px;
}
.quote-part .form-control {
	height: 50px;
	margin-bottom: 30px;
	box-shadow: none;
	border-color: #ced4da;
	font-size: 14px;
	border: 1px solid #ddd;
	color: #999;
}
.quote-part textarea.form-control {
	height: unset;
}
.quote-part .contact-detail-grp {
	height: 100%;
	width: 100%;
	background-color: #f5f5f5;
	text-align: center;
	position: relative;
}	
/*

================================================
8. Slider Sec
================================================
*/
.slider-one {
	padding: 0;
	text-align: center;
}
.slider-one__title {
	margin: 0;
	color: #fff;
	font-size: 70px;
	line-height: 75px;
	font-weight: 700;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}
.slider-one p.slider-one__text {
	margin-bottom: 50px;
}

@media (max-width: 767px) {
.slider-one__title {
	font-size: 40px;
	line-height: 1.25em;
}
}

@media (max-width: 375px) {
.slider-one__title {
	font-size: 35px;
}
}

@media (max-width: 320px) {
.slider-one__title {
	font-size: 28px;
}
.slider-one__title br {
	display: none;
}
}
.slider-one__text {
	margin: 0;
	color: #fff;
	font-size: 17px;
	letter-spacing: .02em;
	margin-top: 15px;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}
a.slider-one__text {
	margin: 0;
	color: #fff;
	font-size: 17px;
	letter-spacing: .02em;
	margin-top: 15px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

@media (max-width: 767px) {
.slider-one__text {
	width: 70%;
	line-height: 1.4em;
}
}

@media (max-width: 375px) {
.slider-one__text {
	width: 100%;
}
}
.slider-one .active .slider-one__title {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.slider-one .active .slider-one__text {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.slider-one .active a.slider-one__text {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
}
[class*=slider-one__slider-], [class*=slider-two__slider-], [class*=slider-three__slider-] {
	background-color: #222222;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
[class*=slider-one__slider-]::before {
	content: '';
	position: absolute;
	background: rgba(0,0,0,.7);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
[class*=slider-one__slider-] {
	padding-top: 195px;
	padding-bottom: 195px;
}

@media (max-width: 767px) {
[class*=slider-one__slider-] {
	padding-top: 160.5px;
	padding-bottom: 140.5px;
}
}
[class*=slider-two__slider-] {
	padding-top: 333px;
	padding-bottom: 213px;
}

@media (max-width: 767px) {
[class*=slider-two__slider-] {
	padding-top: 190px;
	padding-bottom: 100px;
}
}

@media (max-width: 375px) {
[class*=slider-two__slider-] {
	background-position: top left;
}
}
.slider-one .owl-theme .owl-dots, .slider-two .owl-theme .owl-dots {
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
}

@media(max-width: 767px) {
.slider-one .owl-theme .owl-dots, .slider-two .owl-theme .owl-dots {
	display: none !important;
}
h2.slider-one__title span {
	display: initial;
}

}
.slider-two .owl-theme .owl-dots .owl-dot+.owl-dot, .slider-one .owl-theme .owl-dots .owl-dot+.owl-dot {
	margin-top: 15px;
}
.slider-one .owl-theme .owl-dots .owl-dot span, .slider-two .owl-theme .owl-dots .owl-dot span {
	padding: 0;
	margin: 0;
	width: 16px;
	height: 16px;
	background-color: transparent;
	border: 2px solid #fff;
	transition: all 500ms ease;
}
.slider-one .owl-theme .owl-dots .owl-dot:hover span, .slider-two .owl-theme .owl-dots .owl-dot:hover span, .slider-two .owl-theme .owl-dots .owl-dot.active span, .slider-one .owl-theme .owl-dots .owl-dot.active span {
	background-color: #fff;
}
.slider-two .slider-one__title {
	font-size: 60px;
	line-height: 65px;
}
.slider-one__title span {
	display: block;
}


/*
================================================
8. About Area
================================================
*/
.full-sec-content {
	margin-top: 15px;
}
.full-sec-content .sec-title {
	margin: 0;
	margin-bottom: 30px;
}
.sec-title.style-two span.decor::after {
	right: -94px;
}
.about-area .full-sec-content h3 {
	font-size: 25px;
	margin: 0 0 15px;
	color: #FF7900;
}
.about-img img {
	width: 100%;
}
/*
================================================
9. CTA Area
================================================
*/
.quick-quote {
	padding: 30px 0;
	position: relative;
	background: #1B8241;
}
.quick-quote h2 {
	color: #fff;
	font-size: 24px;
	text-transform: capitalize;
	padding-top: 5px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.36);
	margin: 8px 0 0;
}
.quick-quote p {
	color: #000;
	font-size: 16px;
	margin-top: 10px;
}
.quick-quote .quote-btn {
	text-align: center;
	line-height: 0px;
}
.quick-quote .quote-btn .btn-style-one {
	background-color: #317bb9;
}
.quote-btn .btn-style-one .btn-title {
	padding: 12px 30px 12px 30px;
}
.quick-quote .quote-btn .btn-style-one:before {
	border-color: #fff;
	background-color: #fff;
}
.quick-quote .quote-btn .btn-style-one:hover {
	color: #000;
}
.quick-quote .btn-style-one .btn-title::before {
	background: #444;
}
/*
================================================
10. Services Area
================================================
*/
.services-sec.inner-content-wrapper {
	padding: 40px 0 90px;
}
/** Single Services Sec **/
.services-sec .single-item {
	background: #fff;
	padding: 30px 33px 30px 33px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	cursor: pointer;
	-webkit-box-shadow: 0px 20px 60px #6059bb12;
	box-shadow: 0px 20px 60px #6059bb12;
	margin: 50px 0 0;
}
.services-sec .single-item:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.09);
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.09);
}
.services-sec .single-item:hover .icon {
	color: #222222;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.services-sec .single-item:hover .details h3 a {
	color: #317bb9;
	text-decoration: none;
}
.services-sec .single-item:hover .details p {
	color: #777777;
}
.services-sec .single-item .icon {
	font-size: 34px;
	color: #FF7900;
	text-align: center;
	margin-bottom: 10px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.services-sec .single-item .details {
	text-align: center;
}
.services-sec .single-item .details h3 {
	font-size: 24px !important;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2rem;
	margin: 0 0 0.7em;
	color: #051429;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 999;
	font-weight: 600;
}
.services-sec .single-item .details h3 a {
	color: #051429;
}
.services-sec .single-item .details p {
	font-size: 15px;
	margin: 0;
	line-height: 25px;
}
.services-sec .single-item .fig_caption::before, .services-sec .single-item .fig_caption::after {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.services-sec .single-item .fig_caption::before {
	border-top: 2px solid #FF7900;
	border-bottom: 2px solid #FF7900;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}
.services-sec .single-item .fig_caption::after {
	border-right: 2px solid #FF7900;
	border-left: 2px solid #FF7900;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
}
.services-sec .single-item:hover .fig_caption::before, .services-sec .single-item:hover .fig_caption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/** Service Details Sec **/
.service-details-area .service-details-item .service-details-img {
	margin-bottom: 50px;
}
.service-details-area .service-details-item .service-details-img img {
	width: 100%;
}
.service-details-area .service-details-item .service-details-img h2 {
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 38px;
}
.service-details-area .service-details-item .service-details-img p {
	margin-bottom: 15px;
}
.service-details-area .service-details-item .service-details-img img {
	margin-top: 10px;
}
.service-details-area .service-details-item .service-details-edupark h2 {
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 15px;
}
.service-details-area .service-details-item .service-details-edupark p {
	margin-bottom: 20px;
}
.service-details-area .service-details-item .service-details-edupark .edupark-left {
	margin-bottom: 30px;
}
.service-details-area .service-details-item .service-details-edupark .edupark-left ul {
	margin: 0;
	padding: 0;
}
.service-details-area .service-details-item .service-details-edupark .edupark-left ul li {
	list-style-type: none;
	display: block;
	margin-bottom: 15px;
}
.service-details-area .service-details-item .service-details-edupark .edupark-left ul li:last-child {
	margin-bottom: 0;
}
.service-details-area .service-details-item .service-details-edupark .edupark-left ul li:hover i {
	background-color: #282828;
}
.service-details-area .service-details-item .service-details-edupark .edupark-left ul li i {
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	background-color: #FF7900;
	margin-right: 5px;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.service-details-area .service-details-item .service-details-edupark .edupark-right {
	margin-bottom: 30px;
}
.service-details-area .service-details-item .service-details-edupark .edupark-right img {
	width: 100%;
}
.service-details-area .service-details-item .service-details-cat {
	margin-bottom: 50px;
}
.service-details-area .service-details-item .service-details-cat h3 {
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 35px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd33;
	position: relative;
}
.service-details-area .service-details-item .service-details-cat h3:before {
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	left: 0;
	bottom: -2px;
	background-color: #FF7900;
}
.service-details-area .service-details-item .service-details-cat ul {
	margin: 0;
	padding: 0;
}
.service-details-area .service-details-item .service-details-cat ul li {
	list-style-type: none;
	display: block;
	background-color: #dddddd33;
	padding: 12px 25px;
	text-align: center;
	border-left: 3px solid #FF7900;
	border-right: 3px solid #FF7900;
	margin-bottom: 15px;
}
.service-details-area .service-details-item .service-details-cat ul li:last-child {
	margin-bottom: 0;
}
.service-details-area .service-details-item .service-details-cat ul li a {
	color: #282828;
	display: block;
	font-weight: 500;
}
.service-details-area .service-details-item .service-details-cat ul li a:hover {
	color: #FF7900;
}
.service-details-area .service-details-item .service-details-form h3 {
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 35px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd33;
	position: relative;
}
.service-details-area .service-details-item .service-details-form h3:before {
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	left: 0;
	bottom: -2px;
	background-color: #FF7900;
}
.service-details-area .service-details-item .service-details-form .form-group {
	margin-bottom: 30px;
}
.service-details-area .service-details-item .service-details-form .form-group .form-control {
	height: 45px;
	background-color: #dddddd33;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding-left: 20px;
	font-size: 14px;
}
.service-details-area .service-details-item .service-details-form .form-group .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #ddd;
}
.service-details-area .service-details-item .service-details-form .form-group textarea {
	height: auto !important;
	padding-top: 15px;
}
.service-details-area .service-details-item .service-details-form .service-form-btn {
	color: #ffffff;
	background-color: #FF7900;
	border-radius: 3px;
	padding: 12px 25px;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	font-weight: 500;
}
.service-details-area .service-details-item .service-details-form .service-form-btn:hover {
	background-color: #282828;
}
/*
================================================
11. Counters Area
================================================
*/
.achivement-area {
	background: #022147;
	padding: 40px 0 90px;
}
.achivement-area .fun-fact {
	align-items: center;
	text-align: center;
	padding: 0 30px;
}
.achivement-area .single-item {
	position: relative;
	z-index: 1;
}
.achivement-area {
	position: relative;
	z-index: 1;
	overflow-x: hidden;
}
.achivement-area .fixed-thumb {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.achivement-area .fixed-thumb img {
	margin: auto;
	opacity: 0.1;
	height: 100%;
	width: 100%;
}
.achivement-area .single-item::after {
	position: absolute;
	right: 0;
	top: 0;
	content: "";
	height: 100%;
	width: 1px;
	background: rgba(255, 255, 255, 0.2);
	transform: skewX(-7deg);
}
.achivement-area .single-item:last-child::after {
	display: none;
}
.achivement-area .fun-fact .info {
	margin-top: 30px;
}
.achivement-area .fun-fact .info p {
	margin: 0;
	color: #cccccc;
	margin-bottom: -5px;
}
.achivement-area .fun-fact .counter {
	margin: 50px 0 0;
}
.achivement-area .fun-fact .counter .timer {
	font-size: 34px;
	line-height: 1;
	font-weight: 600;
	position: relative;
	z-index: 1;
	display: inline-block;
	color: #ffffff;
	margin-left: -22px;
}
.achivement-area .fun-fact .counter .medium {
	color: #ff3514;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	display: block;
}
.achivement-area .fun-fact .counter .timer::after {
	position: absolute;
	right: -28px;
	top: 2px;
	content: "K";
	color: #FF7900;
	font-size: 30px;
	font-weight: 700;
}
.achivement-area .fun-fact .counter .timer.plus::after {
	position: absolute;
	right: -25px;
	top: 4px;
	content: "\f067";
	color: #FF7900;
	font-size: 26px;
	font-weight: 700;
	font-family: "Font Awesome 5 Free";
}
.achivement-area .fun-fact .counter .count {
	display: inline-block;
	height: 120px;
	width: 120px;
	text-align: center;
	line-height: 135px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.03);
	position: relative;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.achivement-area .fun-fact .counter .count::after {
	position: absolute;
	left: 1px;
	top: 1px;
	content: "";
	height: 100%;
	width: 100%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	border-top: none;
	border-left: none;
}
.achivement-area .fun-fact .info h5 {
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #fff;
	font-size: 25px;
}
/*
================================================
12. Our Team
================================================
*/
.our-team.inner-content-wrapper {
	padding: 40px 0 90px;
}
.single-team {
	margin: 50px 0 0;
}
.team-img {
	position: relative;
}
.team-img img {
	width: 100%;
}
.team-social-links {
	position: absolute;
	right: 30px;
	bottom: -22px;
}
.team-social-links a {
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 47px;
	text-align: center;
	background: #47be42;
	color: #fff;
	font-size: 16px;
	border-radius: 50%;
	box-shadow: 0px 0px 29.7px 0.3px rgba(78, 174, 74, 0.78);
}
.team-social-links ul li a {
	margin-bottom: 10px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.team-social-links ul li a:hover, .team-social-links:hover .follow-btn {
	background-color: #317bb9;
	box-shadow: 0px 0px 29.7px 0.3px rgba(255, 169, 66, 0.78);
}
.team-social-links:hover > ul li a {
	opacity: 1;
	visibility: visible;
}
.team-info {
	padding: 35px 0;
	border-bottom: 3px solid #e2e2e2;
	transition: .3s;
	position: relative;
}
.team-info::after {
	content: '';
	position: absolute;
	width: 0%;
	height: 3px;
	background: #47be42;
	bottom: -3px;
	left: 0;
	right: 0;
	margin: auto;
	transition: .3s;
}
.team-info h5 {
	font-weight: 600;
	color: #FF7900;
	margin-bottom: 0;
}
.single-team:hover .team-info::after {
	width: 100%;
}
/*
================================================
13. Testimonials Sec
================================================
*/
.testimonials-sec.inner-content-wrapper {
	padding: 40px 0 90px;
}
.testimonials-sec {
	background: #f4f9fc url(../images/map.png) left top no-repeat;
}
.review-box {
	padding: 40px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 16px 32px 0px rgba(221, 217, 255, 0.2);
	margin: 40px 0 0;
}
.members-rating ul li {
	display: inline-block;
	color: #ffc600;
	margin-bottom: 10px;
}
.author-desination-2 h4 {
	font-size: 18px;
	margin-bottom: 7px;
}
.author-desination-2 h6 {
	color: #317bb9;
	text-transform: capitalize;
	letter-spacing: 0;
	margin: 0;
}
.testimonials-sec .author-ava {
	margin-right: 15px;
}
.testimonials-sec .author-ava img {
	border-radius: 50%;
}
.owl-carousel .owl-item .single-brand img {
	width: inherit;
	display: inline-block;
}
.single-brand {
	text-align: center;
}
.brand-area::before {
	position: absolute;
	content: "";
	background: rgba(32,47,59,0.94);
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	height: 100%;
}
/*
================================================
14. Pricing Table Sec
================================================
*/
.pricing-table-sec.inner-content-wrapper {
	padding: 40px 0 90px;
}
/** Single Pricing Table Sec **/
.pricing__single-1.active {
	background: #FF7900;
	filter: drop-shadow(0px 20px 10px rgba(78,174,74,0.4));
	-webkit-filter: drop-shadow(0px 20px 10px rgba(78,174,74,0.4));
	-moz-filter: drop-shadow(0px 20px 10px rgba(78,174,74,0.4));
}
.pricing__single-1.active .list ul li::before {
	color: #FF7900;
}
.pricing__single-1.active h6 {
	color: #acdfaa;
}
.pricing__single-1.active .icon i {
	color: #FF7900;
	font-size: 6rem;
}
.pricing__single-1 {
	background: #317bb9;
	filter: drop-shadow(0px 20px 10px rgba(49,123,185,0.4));
	-webkit-filter: drop-shadow(0px 20px 10px rgba(49,123,185,0.4));
	-moz-filter: drop-shadow(0px 20px 10px rgba(49,123,185,0.4));
}
.pricing__single {
	padding: 4.5rem 0 2.3rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 3rem;
	margin: 40px 0 0;
}
.pricing__single .icon {
	width: 13.8rem;
	height: 13.8rem;
	background-color: white;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.pricing__single-1 .icon i {
	color: #317bb9;
	font-size: 6rem;
}
.pricing__single h4 {
	font-size: 1.8rem;
	font-weight: 600;
	color: white;
	margin-top: 2.4rem;
}
.pricing__single h3 {
	font-size: 5.5rem;
	font-weight: 500;
	color: white;
	margin-top: -.4rem;
}
.pricing__single h6 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 1rem;
}
.pricing__single-1 h6 {
	color: #b8dbf9;
}
.pricing__single .list {
	background-color: white;
	position: relative;
	padding: 3.7rem 2rem 2.1rem 2rem;
	border-radius: 2rem;
	width: 97%;
	margin-top: 4.3rem;
}
.pricing__single .list::before {
	content: "";
	width: 4.8rem;
	height: 2.2rem;
	background: url(../images/arrow.png) no-repeat;
	background-size: cover;
	display: block;
	position: absolute;
	top: -2rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.pricing__single .list ul {
	font-size: 1.6rem;
	line-height: 3rem;
	color: #666b6d;
	width: 100%;
	padding-left: 2.3rem;
}
.pricing__single .list ul li {
	position: relative;
}
.pricing__single-1 .list ul li::before {
	color: #317bb9;
}
.pricing__single .list ul li::before {
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 1.4rem;
	position: absolute;
	top: 50%;
	left: -2.2rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	display: inline-block;
}
.pricing__single .button {
	border: 4px solid transparent;
	width: 100%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	margin-top: 1.8rem;
	color: white;
	text-align: center;
	font-size: 18px;
}
.pricing__single .button:hover, .pricing__single .button:focus {
	background-color: transparent;
	color: white;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.pricing__single .button i {
	margin-left: 1rem;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}
/*
================================================
15. Gallery Sec
================================================
*/
.gallery-sec.inner-content-wrapper {
	padding: 40px 0 90px;
}
.gallery-sec {
	background: #f7f7f7;
	padding: 90px 0 0;
}
.single-gallery {
	position: relative;
	margin-top: 40px;
}
.single-gallery > img {
	width: 100%;
}
.single-gallery:hover .gallery-icon {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.single-gallery:hover img {
	-webkit-filter: brightness(0.5);
	filter: brightness(0.5);
}
.single-gallery .gallery-icon {
	position: absolute;
	text-align: center;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 20px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	border-radius: 0 7px 0 7px;
	line-height: 45px;
	background-color: #FF7900;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .7s;
	transition: .7s;
}
.single-gallery .gallery-icon:hover {
	background-color: #020d26;
	color: #ffffff;
}
.single-gallery .gallery-icon::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 0 7px 0 7px;
	left: 0;
	border: 1px solid #FF7900;
	-webkit-animation: ripple 1s linear 2s infinite;
	animation: ripple 1s linear 2s infinite;
}
.single-gallery .gallery-icon:hover::before {
	border-color: #020d26;
}
/*
================================================
16. Blog Sec
================================================
*/
.blog-area.inner-content-wrapper {
	padding: 40px 0 90px;
}
.single-blog {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: #ffffff;
	margin: 40px 0 0;
}
.blog-area .thumb {
	position: relative;
	z-index: 1;
}
.blog-area .thumb img {
	width: 100%;
}
.blog-area .single-blog .info {
	padding: 30px;
}
.blog-area .single-blog .info .meta {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.blog-area .single-blog .info .meta ul {
	display: flex;
	align-items: center;
}
.blog-area .single-blog .info .meta ul li {
	margin-right: 15px;
	padding-right: 15px;
	position: relative;
	font-weight: 600;
	color: #666666;
}
.blog-area .single-blog .info .meta ul li img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 3px solid rgba(255, 53, 20, 0.1);
	padding: 2px;
	margin-right: 5px;
}
.blog-area .single-blog .info .meta ul li a {
	color: #666666;
}
.blog-area .single-blog .info .meta ul li:last-child {
	margin: 0;
	padding: 0;
}
.blog-area .single-blog .info .content h4 {
	line-height: 1.4;
}
.blog-area .single-blog .info .content h4 a:hover {
	color: #ff3514;
}
.blog-area .btn {
	margin: 20px 0 0;
}
/*** Blog Details **/
.blog-details-item {
	margin-bottom: 30px;
}
.blog-details-item .blog-details-name {
	margin-bottom: 30px;
}
.blog-details-item .blog-details-name .details-user {
	margin-bottom: 16px;
}
.blog-details-item .blog-details-name .details-user ul {
	margin: 0;
	padding: 0;
}
.blog-details-item .blog-details-name .details-user ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}
.blog-details-item .blog-details-name .details-user ul li:last-child {
	margin-right: 0;
}
.blog-details-item .blog-details-name .details-user ul li span {
	display: inline-block;
	font-size: 13px;
	color: #9b9b9b;
}
.blog-details-item .blog-details-name .details-user ul li a {
	display: inline-block;
	color: #777676;
	font-size: 13px;
}
.blog-details-item .blog-details-name .details-user ul li a:hover {
	color: #FF7900;
}
.blog-details-item .blog-details-name h2 {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 15px;
}
.blog-details-item .blog-details-name p {
	margin-bottom: 35px;
}
.blog-details-item .blog-details-name img {
	display: block;
	margin-bottom: 30px;
	width: 100%;
}
.blog-details-item .blog-details-name .details-item {
	margin-bottom: 30px;
}
.blog-details-item .blog-details-name .details-item ul {
	margin: 0;
	padding: 0;
}
.blog-details-item .blog-details-name .details-item ul li {
	list-style-type: none;
	display: block;
	font-weight: 500;
	font-size: 18px;
	color: #001430;
	margin-bottom: 18px;
}
.blog-details-item .blog-details-name .details-item ul li:last-child {
	margin-bottom: 0;
}
.blog-details-item .blog-details-name .details-item ul li i {
	color: #FF7900;
	display: inline-block;
	font-size: 22px;
	position: relative;
	top: 3px;
	margin-right: 3px;
}
.blog-details-item .blog-details-quote {
	margin-bottom: 30px;
}
.blog-details-item .blog-details-quote blockquote {
	background-color: #f4f4f4;
	border-left: 3px solid #FF7900;
	font-style: italic;
	font-size: 20px;
	color: #0c0c39;
	position: relative;
	padding: 45px 30px 35px 60px;
	margin-bottom: 30px;
}
.blog-details-item .blog-details-quote blockquote i {
	font-size: 30px;
	color: #FF7900;
	display: inline-block;
	position: absolute;
	top: 30px;
	left: 25px;
}
.blog-details-item .blog-details-quote ul {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}
.blog-details-item .blog-details-quote ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 5px;
}
.blog-details-item .blog-details-quote ul li:last-child {
	margin-right: 0;
}
.blog-details-item .blog-details-quote ul li span {
	display: inline-block;
	font-size: 14px;
	color: #9b9b9b;
	margin-right: 15px;
}
.blog-details-item .blog-details-quote ul li a {
	display: inline-block;
	color: #504f4f;
	font-size: 14px;
	background-color: #f4f0f0;
	padding: 12px 20px;
}
.blog-details-item .blog-details-quote ul li a:hover {
	color: #ffffff;
	background-color: #282828;
}
.blog-details-item .details-head h3 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 35px;
	padding-bottom: 10px;
	position: relative;
	border-bottom: 1px solid #dddddd33;
}
.blog-details-item .details-head h3:before {
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	left: 0;
	bottom: -2px;
	background-color: #FF7900;
}
.blog-details-item .blog-details-search {
	margin-bottom: 50px;
}
.blog-details-item .blog-details-search .form-group {
	position: relative;
	margin-bottom: 0;
}
.blog-details-item .blog-details-search .form-group .form-control {
	height: 50px;
	border: 1px solid #a8a8a8;
	padding-left: 20px;
	font-size: 15px;
	border-radius: 0;
}
.blog-details-item .blog-details-search .form-group .form-control:focus {
	border: 1px solid #a8a8a8;
	-webkit-box-shadow: none;
	box-shadow: none;
}
 .blog-details-item .blog-details-search .form-group ::-webkit-input-placeholder {
 color: #9b9b9b;
}
 .blog-details-item .blog-details-search .form-group :-ms-input-placeholder {
 color: #9b9b9b;
}
 .blog-details-item .blog-details-search .form-group ::-ms-input-placeholder {
 color: #9b9b9b;
}
 .blog-details-item .blog-details-search .form-group ::placeholder {
 color: #9b9b9b;
}
.blog-details-item .blog-details-search .form-group .blog-details-src-btn:before {
	display: none;
}
.blog-details-item .blog-details-search .form-group .blog-details-src-btn {
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	color: #706f6f;
	font-size: 25px;
	position: absolute;
	top: 8px;
	right: 15px;
	padding: 0;
	background: none;
}
.blog-details-item .blog-details-search .form-group .blog-details-src-btn:hover {
	color: #FF7900;
}
.blog-details-item .blog-details-service {
	margin-bottom: 50px;
}
.blog-details-item .blog-details-service ul {
	margin: 0;
	padding: 0;
}
.blog-details-item .blog-details-service ul li {
	list-style-type: none;
	display: block;
}
.blog-details-item .blog-details-service ul li a {
	display: block;
	color: #3d3d3d;
	padding: 8px 10px 8px 0;
	position: relative;
}
.blog-details-item .blog-details-service ul li a i {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
}
.blog-details-item .blog-details-service ul li a:hover, .blog-details-item .blog-details-service ul li a.active {
	background-color: #ebf1fe;
	padding: 8px 10px 8px 10px;
}
.blog-details-item .blog-details-post {
	margin-bottom: 50px;
}
.blog-details-item .blog-details-post ul {
	margin: 0;
	padding: 0;
}
.blog-details-item .blog-details-post ul li {
	list-style-type: none;
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 25px;
}
.blog-details-item .blog-details-post ul li:last-child {
	margin-bottom: 0;
}
.blog-details-item .blog-details-post ul li img {
	display: inline-block;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
}
.blog-details-item .blog-details-post ul li .post-inner {
	padding-left: 15px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 65%;
	flex: 0 0 65%;
	max-width: 65%;
}
.blog-details-item .blog-details-post ul li .post-inner span {
	display: block;
	font-size: 14px;
	color: #6b6a6a;
	font-family: "Poppins", sans-serif;
	margin-bottom: 8px;
}
.blog-details-item .blog-details-post ul li .post-inner a {
	display: block;
	color: #0c0c39;
}
.blog-details-item .blog-details-post ul li .post-inner a:hover {
	color: #FF7900;
}
.blog-details-item .blog-details-edupark {
	position: relative;
}
.blog-details-item .blog-details-edupark img {
	display: block;
	width: 100%;
}
.blog-details-item .blog-details-edupark a {
	font-weight: 500;
	color: #282828;
	background-color: #ffffff;
	padding: 14px 20px;
	display: inline-block;
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	max-width: 135px;
	margin-left: auto;
	margin-right: auto;
}
.blog-details-item .blog-details-edupark a:hover {
	background-color: #282828;
	color: #ffffff;
}
.blog-area-three {
	border-top: 1px solid #f1f1f1;
	padding-top: 30px;
}
.blog-area-three .section-title {
	margin-bottom: 20px;
	text-align: left;
}
.blog-area-three .section-title h2 {
	font-weight: 600;
	font-size: 24px;
}
.blog-area-three .blog-item .blog-inner {
	padding: 20px 10px 18px 25px;
}
.blog-area-three .blog-item .blog-inner p {
	margin-bottom: 10px;
}
.blog-area-three .blog-dettails-p {
	max-width: 865px;
	margin-bottom: 0;
}
.blog-details-area .blog-details-comment h3 {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 30px;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 10px;
	display: inline-block;
}
.blog-details-area .blog-details-comment ul {
	margin: 0;
	padding: 0;
}
.blog-details-area .blog-details-comment ul li {
	list-style-type: none;
	display: block;
	position: relative;
	max-width: 907px;
	padding-bottom: 45px;
	margin-bottom: 35px;
	border-bottom: 1px solid #e3e3e3;
}
.blog-details-area .blog-details-comment ul li:nth-child(2) {
	margin-left: 70px;
}
.blog-details-area .blog-details-comment ul li:nth-child(3) {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.blog-details-area .blog-details-comment ul li img {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.blog-details-area .blog-details-comment ul li .comment-inner {
	padding-left: 120px;
	position: relative;
}
.blog-details-area .blog-details-comment ul li .comment-inner h4 {
	font-size: 16px;
	color: #373636;
	margin-bottom: 8px;
	font-weight: 500;
}
.blog-details-area .blog-details-comment ul li .comment-inner span {
	display: block;
	font-size: 12px;
	color: #9b9b9b;
	margin-bottom: 15px;
}
.blog-details-area .blog-details-comment ul li .comment-inner p {
	margin-bottom: 0;
	font-size: 15px;
}
.blog-details-area .blog-details-comment ul li .comment-inner a {
	display: inline-block;
	font-size: 14px;
	color: #9b9b9b;
	position: absolute;
	top: 20px;
	right: 0;
}
.blog-details-area .blog-details-comment ul li .comment-inner a:hover {
	color: #FF7900;
}
.blog-details-area .blog-details-form {
	background-color: #f4f4f4;
	padding: 30px 60px 40px;
}
.blog-details-area .blog-details-form h3 {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 20px;
}
.blog-details-area .blog-details-form .form-group {
	margin-bottom: 20px;
}
.blog-details-area .blog-details-form .form-group .form-control {
	border-radius: 0;
	border: 0;
	background-color: #ffffff;
	padding-left: 20px;
	font-size: 15px;
	height: 50px;
}
.blog-details-area .blog-details-form .form-group .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
}
 .blog-details-area .blog-details-form .form-group ::-webkit-input-placeholder {
 color: #9b9b9b;
}
 .blog-details-area .blog-details-form .form-group :-ms-input-placeholder {
 color: #9b9b9b;
}
 .blog-details-area .blog-details-form .form-group ::-ms-input-placeholder {
 color: #9b9b9b;
}
 .blog-details-area .blog-details-form .form-group ::placeholder {
 color: #9b9b9b;
}
.blog-details-area .blog-details-form .form-group textarea {
	height: auto !important;
	padding-top: 10px;
}
.blog-details-area .blog-details-form .blog-details-form-btn {
	border-radius: 0;
	color: #ffffff;
	background-color: #FF7900;
	padding: 15px 25px;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.blog-details-area .blog-details-form .blog-details-form-btn:hover {
	background-color: #282828;
}
/*
================================================
17. Brand Slider Sec
================================================
*/
.brand-wrapper {
	width: 100%;
	padding: 80px 0;
	box-shadow: 0 -90px 150px rgba(1, 84, 85, 0.1);
}
.brand-slider {
	margin: 40px 0 0;
}
.brand-wrapper .item {
	text-align: center;
}
.brand-wrapper .item img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
	transition: all 0.3s;
	width: auto;
}
.brand-wrapper .item:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: .5;
}
.brand-wrapper .owl-nav {
	display: none;
}
.brand-wrapper .owl-dots {
	text-align: center;
	margin: 20px 0 0;
}
.brand-wrapper .owl-dots .owl-dot span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}
.brand-wrapper .owl-dots .owl-dot.active span {
	opacity: 1;
}
/*
================================================
18. Page Banner
================================================
*/
.page-banner {
	position: relative;
	color: #ffffff;
	text-align: center;
	padding: 150px 0px 150px;
	background-color: #25283a;
	z-index: 2;
}
.page-banner .image-layer {
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page-banner .image-layer:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.45;
}
.page-banner .auto-container {
	position: relative;
	z-index: 1;
}
.page-banner h1 {
	position: relative;
	font-size: 60px;
	line-height: 1em;
	font-weight: 700;
	margin-bottom: 15px;
	color: #ffffff;
	text-transform: capitalize;
}
.page-banner .breadcrumb-box {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: 0 0 10px;
}
.page-banner .bread-crumb {
	position: relative;
	display: inline-block;
}
.page-banner .bread-crumb li {
	position: relative;
	display: inline-block;
	line-height: 30px;
	margin-left: 40px;
	color: #ffffff;
	text-transform: capitalize;
	letter-spacing: 0.02em;
	font-size: 16px;
	font-weight: 500;
}
.page-banner .bread-crumb li:before {
	font-family: 'FontAwesome';
	content: '\f178';
	position: absolute;
	right: -40px;
	width: 40px;
	top: 0px;
	text-align: center;
	line-height: 25px;
	font-size: 16px;
	font-weight: 700;
}
.page-banner .bread-crumb li:first-child {
	margin-left: 0px;
}
.page-banner .bread-crumb li:last-child:before {
	display: none;
}
.page-banner .bread-crumb li a {
	position: relative;
	color: #ffffff;
	display: block;
	line-height: 30px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.page-banner .bread-crumb li a:hover {
	text-decoration: underline;
}
/*
================================================
19. FAQ Sec
================================================
*/
.faq-accordion {
	margin: auto;
	padding: 25px;
	background: #fff;
	-webkit-box-shadow: 0px 20px 60px #6059bb12;
	box-shadow: 0px 20px 60px #6059bb12;
}
.faq-accordion .accordion {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
.faq-accordion .accordion .accordion-item {
	display: block;
	background: #ffffff;
	margin-bottom: 10px;
}
.faq-accordion .accordion .accordion-item:last-child {
	margin-bottom: 0;
}
.faq-accordion .accordion .accordion-title {
	padding: 10px 0 10px 0;
	color: #111111;
	position: relative;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: -1px;
	display: inline-block;
	width: 100%;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 700;
}
.faq-accordion .accordion .accordion-title i {
	font-size: 18px;
	margin-right: 10px;
}
.faq-accordion .accordion .accordion-title.active i::before {
	content: "\f068";
}
.faq-accordion .accordion .accordion-content {
	display: none;
	position: relative;
	padding: 25px 0 0 0;
}
.faq-accordion .accordion .accordion-content.show {
	display: block;
}
.faq-contact {
	margin-top: 100px;
}
.faq-contact .section-title {
	max-width: 100%;
}
.faq-contact .section-title h2 {
	font-size: 36px;
}
.faq-contact-form {
	max-width: 950px;
	margin: 0 auto;
	text-align: center;
}
.faq-contact-form form .form-control {
	background-color: #ffffff;
	border: 1px solid #b7b7b7;
	-webkit-box-shadow: unset;
	box-shadow: unset;
	height: 50px;
	border-radius: 2px;
	font-size: 16px;
}
.faq-contact-form form .row {
	margin-left: -7px;
	margin-right: -7px;
}
.faq-contact-form form .row .col-lg-12, .faq-contact-form form .row .col-lg-6 {
	padding-left: 7px;
	padding-right: 7px;
}
.faq-contact-form form textarea.form-control {
	height: 200px !important;
	padding-top: 15px;
}
.faq-contact-form form .help-block ul {
	padding-left: 0;
	list-style-type: none;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0;
}
.faq-contact-form form .help-block ul li {
	color: #24345d;
}
.faq-contact-form form #msgSubmit {
	margin-bottom: 0;
}
.faq-contact-form form #msgSubmit.text-danger, .faq-contact-form form #msgSubmit.text-success {
	margin-top: 16px;
	font-size: 20px;
	font-weight: 700;
}
/*
================================================
20. Error Sec
================================================
*/
.error-item {
	text-align: center;
}
.error-item h1 {
	font-size: 130px;
	font-weight: 700;
	margin-bottom: 8px;
	color: #282828;
}
.error-item p {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 35px;
	color: #282828;
}
.error-item p i {
	display: inline-block;
}
.error-item span {
	display: block;
	color: #646464;
}
/*
================================================
21. Contact Sec
================================================
*/
.contact-form .title {
	margin-bottom: 30px;
}
.contact-form .title h3 {
	font-size: 25px;
	margin-bottom: 0;
}
.contact-form .form-group label {
	font-size: 16px;
	color: #606060;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
}
.contact-form .form-group .form-control {
	background-color: transparent;
	border: 1px solid #cfcfcf;
	-webkit-box-shadow: unset;
	box-shadow: unset;
	height: 50px;
	border-radius: 0;
	color: #cfcfcf;
	font-size: 16px;
}
.contact-form .form-group textarea {
	height: 150px !important;
}
.contact-form .form-group .list-unstyled {
	color: #24345d;
	margin-top: 5px;
}
.contact-form .text-danger {
	color: #dc3545 !important;
	margin-bottom: 0 !important;
	margin-top: 16px !important;
}
.contact-side-box .title {
	margin-bottom: 30px;
}
.contact-side-box .title h3 {
	font-size: 25px;
	margin-bottom: 0;
}
.contact-side-box .info-box {
	position: relative;
	margin-bottom: 20px;
	padding-left: 50px;
}
.contact-side-box .info-box:last-child {
	margin-bottom: 0;
}
.contact-side-box .info-box .icon {
	position: absolute;
	left: 0;
	top: 0;
}
.contact-side-box .info-box .icon i {
	font-size: 30px;
	color: #FF7900;
}
.contact-side-box .info-box h4 {
	font-size: 20px;
	margin-bottom: 10px;
}
.contact-side-box .info-box .list {
	padding-left: 0;
	margin-bottom: 0;
}
.contact-side-box .info-box .list li {
	color: #606060;
	margin-bottom: 5px;
	list-style-type: none;
}
.contact-side-box .info-box .list li:last-child {
	margin-bottom: 0;
}
.contact-side-box .info-box .list li span {
	float: right;
}
.contact-side-box .info-box span {
	font-size: 16px;
	color: #606060;
}
.contact-side-box .info-box a {
	color: #606060;
	display: block;
}
.contact-side-box .info-box a:hover {
	color: #FF7900;
}
.google-map {
	width: 100%;
	pointer-events: none;
}
.google-map iframe {
	width: 100%;
	border: none;
	height: 300px;
	margin: 0 0 -6px;
}
/*
================================================
22. Footer Sec
================================================
*/
.footer-wrapper {
	padding: 80px 0;
	background-color: #2d2d2d;
}
.footer-wrapper .logo a {
	display: inline-block;
	color: #0cb1f6;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
.footer-wrapper .logo a span {
	color: #FF7900;
}
.footer-item-left {
	padding-right: 50px;
}
.logo {
	margin-bottom: 15px;
}
.footer-wrapper p {
	color: #fff;
	letter-spacing: .5px;
}
.footer-wrapper .exp-footer-social {
	margin-top: 50px;
}
.footer-social li {
	display: inline-block;
}
.footer-social li a {
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.2);
	margin-right: 5px;
	color: #b6c0d1;
	border-radius: 5px;
}
.footer-social p, .footer-social h6, .footer-social a {
	color: #fff;
	letter-spacing: .5px;
}
.footer-social li a:hover {
	background: #FF7900;
	color: #fff;
}
.wrapper h6::before {
	position: absolute;
	width: 50px;
	bottom: -11px;
	content: "";
	height: 2px;
	left: 0;
	background: #fff;
}
.wrapper h6 {
	font-size: 22px;
	margin: 0 0 35px;
	text-align: left;
	color: #fff;
	position: relative;
}
.wrapper ul li {
	margin-bottom: 10px;
}
.wrapper .footer-item-center ul li a::before {
	content: "\f101";
	font-family: 'FontAwesome';
	position: absolute;
	top: 0px;
	left: -15px;
	font-size: 16px;
	font-style: normal;
	color: #97ce94;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.wrapper .footer-item-center ul li:hover a::before {
	padding-left: 15px;
}
.wrapper .footer-item-center ul {
	margin: 0 0 0 20px;
}
.wrapper .footer-item-center ul li a {
	padding: 0 0 0 10px;
}
.wrapper .footer-item-center ul li a:hover {
	padding-left: 15px;
}
.wrapper ul li a {
	color: #fff;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	position: relative;
}
.footer-item-right form input {
	line-height: 40px;
	padding: 8px 16px;
	margin-top: 8px;
	border-radius: 50px;
	border: 1px solid rgba(255,255,255,0.7);
	height: auto;
}
.footer-item-right form input:focus {
	box-shadow: none;
}
.footer-item-right {
	text-align: right;
}
.footer-item-right .btn:before {
	background: #403f3f;
}
.footer-item-right .btn:before {
	border-radius: 20px;
}
.footer-item-right .btn {
	border: none;
	margin: 25px 0 0;
	font-size: 18px;
	border-radius: 20px;
	padding: 12px 25px 10px;
}
.copyright {
	width: 100%;
	padding: 10px 0;
	background: #403f3f;
}
.copyright p {
	margin: 0;
	color: #b6c0d1;
	font-size: 13px;
}
.copyright p span {
	color: #fff;
}

/*
================================================
23. Responsive CSS
================================================
*/
@media (min-width: 1400px) {
   .container {
	max-width: 1300px;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
/** Header Sec **/	
.top-header .top-header-left li:last-child{
	margin-right: 0;
}
.top-header .top-header-left li {
	margin-right: 15px;
}
.top-header .top-header-right li {
	margin-left: 30px;
}
.slider-one__title span {
	display: initial;
}
/** CTA Sec **/
.quick-quote h2 {
	font-size: 22px;
}
.appointment-btn {
	display: none;
}
/** CTA Sec **/
/** Page Title **/
.page-banner {
	padding: 190px 0px 150px;
}
.blog-details-item .blog-details-post ul li img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 12%;
	flex: 0 0 12%;
	max-width: 12%;
}
/** Contact Sec **/
.contact-side-box {
	margin: 40px 0 0;
}
/** Footer Sec **/
.wrapper h6 {
	margin: 30px 0 35px;
}
}

@media only screen and (min-width: 768px) {
/** Main Menu **/

}

@media only screen and (max-width: 991px) {
/** Main Menu **/
.header-style-one .upper-row .info, .main-header .header-top .top-right {
	display: none;
}
/** Slider Sec **/
.banner-one .banner-carousel .content-box .content {
	padding-top: 50px !important;
}
.banner-carousel .slide-item {
	padding: 50px 0px 80px;
}
.header-style-one {
	position: relative;
	background: #0a394d;
}
}

@media only screen and (max-width:767px) {
/** Main Menu **/
.nav-outer .mobile-nav-toggler {
	display: block;
}
.main-header .nav-outer .main-menu, .sticky-header {
	display: none !important;
}
}

@media only screen and (max-width:767px) {
/** Top Bar **/
.top-header {
    padding-top: 20px;
	padding-bottom: 20px;
	display: none;
}
.top-header .top-header-left {
	text-align: center;
}
.top-header .top-header-left li {
	margin: 0 5px;
}
.top-header .top-header-left li a {
	color: #ffffff;
	margin-bottom: 0;
}
.top-header .top-header-right li {
	margin: 8px 5px 0;
	display: block;
}
.top-header .top-header-right {
	text-align: center;
	float: none;
}
.appointment-btn {
	display: none;
}
/** Slider Sec **/
.banner-carousel .content-box {
	height: 500px;
}
/** Brand Slider Sec **/
.brand-wrapper .item img {
	display: inline-block;
}
/** Contact Sec **/
.contact-side-box {
	margin: 40px 0 0;
}
/** Footer Sec **/
.wrapper h6 {
	margin: 30px 0 35px;
}
}

@media only screen and (max-width:599px) {
/** Main Menu **/
.header-style-one .upper-row .logo-box {
	display: block;
	width: 100%;
	text-align: center;
}
.banner-carousel .content-box h1 {
	font-size: 30px;
	line-height: 40px;
}
}
