.card {
    border-top-style: solid;
    border-top-color: #FF7900;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.auth-form-light {
    border-top-style: solid;
    border-top-color: #FF7900;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.color-overlay {
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
}

.pin-code {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 50px #ddd;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

.pin-code:focus {
    box-shadow: 0 0 50px #ddd;
}