<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Departments </h4>

                        <div class="d-flex float-right">
                        <div class="mb-3 mb-xl-0 float-right">
                            <a v-on:click="showModal()" class="btn btn-warning rounded-0 text-white">Add Department</a>
                        </div>
                        <div class="mb-3 mb-xl-0 float-right">
                            <download-excel :data="department">
                                <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                            </download-excel>
                        </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Department Name</th>
                                    <th>Date</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in department">
                                    <td>{{index+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.created_at}}</td>
                                    <td ><a v-on:click="showModal2(data.name,data.id)" class="fa fa-edit text-primary"></a> </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->

                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="addguard" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Add Department</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="pt-3" v-on:submit.prevent="client_add_department()">
                        <div class="modal-body">


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Department Name</label>
                                        <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Name" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary submitbtn">Submit</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="editguard" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Edit Department</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="pt-3" v-on:submit.prevent="client_edit_department()">
                        <div class="modal-body">


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Name" required>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary submitbtn">Update</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,

                message:{
                    id:'',
                    name:'',
                },
                department:[],


            }
        },
        created(){
            this.client_get_department();
        },
        methods: {
            showModal() {
                    $("#addguard").modal("show");
            },
            showModal2(name,id) {
                this.message.name=name;
                this.message.id=id;
                $("#editguard").modal("show");
            },
            client_get_department(){
                let uri = this.proxyUrl + `client_get_department`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                   this.department=response.data.department;

                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            client_edit_department(){
                loadbutton();
                let uri = this.proxyUrl + `client_edit_department`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.client_get_department();
                    }else{
                        showWarningToast(response.data.message);
                    }

                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            client_add_department(){
                loadbutton();
                let uri = this.proxyUrl + `client_add_department`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.message={id:'', name:'',};
                        this.client_get_department();
                    }else{
                        showWarningToast(response.data.message);
                    }

                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },

        }
    }

</script>
