<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Guards  <span class="text-warning">*Select your client and its branch*</span>({{guards.length}})</h4>
                        <div class="d-flex float-left">
                            <div class="mb-3 mb-xl-0 float-left d-flex">
                                <div class="form-group mr-3">
                                    <select class="form-control" id="exampleSelectGender">
                                        <option disabled selected="selected">Select company</option>
                                        <option v-for="data in company" v-on:click="changeId(data.id,data.company_name)">{{data.company_name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="exampleSelectGender">
                                        <option disabled selected="selected">Select client</option>
                                        <option v-for="data in clients" v-on:click="changeId2(data.id)">{{data.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex float-right">
                        <!--<div class="mb-3 mb-xl-0 float-right">-->
                            <!--<a v-on:click="addGuards()" class="btn btn-warning rounded-0 text-white">Add Guards</a>-->
                        <!--</div>-->
                            <div class="mb-3 mb-xl-0 ml-3">
                                <download-excel :data="guards">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Guard Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Staff No</th>
                                    <th>ID No</th>
                                    <th>Branch</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in guards">
                                    <td>{{index+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.staff_no}}</td>
                                    <td>{{data.id_no}}</td>
                                    <td>{{data.branch}}</td>
                                    <td>{{data.created_at}}</td>
                                    <td v-if="data.status==='Active'"><label class="badge badge-success">{{data.status}}</label></td>
                                    <td v-else><label class="badge badge-danger">{{data.status}}</label></td>
                                    <td ><a v-on:click="editUser(data.id,data.name,data.email,data.phone,data.staff_no,data.id_no,data.status)" class="fa fa-edit text-primary"></a> </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editguard" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Edit guards to <span class="text-success">{{name}}</span>-<span class="text-info">{{branch}} branch</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="pt-3" v-on:submit.prevent="security_edit_guards()">
                        <div class="modal-body">


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email"  v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control form-control-sm"></vue-tel-input>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.staff_no" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Satff No" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" v-model="message.id_no" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="ID No" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="mr-3">Status</label>
                                        <label class="switch">
                                            <input type="checkbox" id="status">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary submitbtn">Update</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


</div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{id:'',client_id:'',
                    user_id:'',
                    name:'',
                    email:'',
                    phone:'',
                    staff_no:'',
                    id_no:'',
                    status:'',
                },
                branches:[],
                clients:[],
                company:[],
                guards:[],

            }
        },
        created(){
            this.admin_get_companies();
        },
        methods: {
            editUser(id,name,email,phone,staff_no,id_no,status){
                this.message.name=name;
                this.message.email=email;
                this.message.phone=phone;
                this.message.staff_no=staff_no;
                this.message.id_no=id_no;
                this.message.user_id=id;
                this.message.status=status;
                $("#editguard").modal("show");
                if(this.message.status==='Active'){
                    $("#status").prop("checked", true);
                }
            },
            changeId(id) {
                this.message.id = id;
                this.admin_get_clients();
            },
            changeId2(id){
                this.message.client_id = id;
                this.admin_get_guards();
            },
            admin_get_guards(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_guards`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.guards=response.data.guards;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            admin_get_clients() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_clients`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.clients=response.data.clients;
                    this.guards=response.data.guards;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            admin_get_branches() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_branches`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.branches=response.data.branches;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            admin_get_companies() {
                let uri =this.proxyUrl+`admin_get_companies`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.company=response.data.companies;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            security_edit_guards(){
                if(document.getElementById('status').checked){
                    this.message.status='Active'
                }else{
                    this.message.status='Inactive'
                }
                loadbutton();
                let uri = this.proxyUrl + `security_edit_guards/${this.message.user_id}`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this. admin_get_clients();
                        $("#editguard").modal("hide");
                    }else{
                        showWarningToast(response.data.message);
                    }

                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },

        }
    }

</script>
