<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Reports -- {{report.length}} Records</h4>
                        <div class="mb-3 mb-xl-0 float-left">
                            <div class="form-group">
                                <label class="text-warning">Select date</label>
                                <input type="date" v-model="message.date" class="form-control form-control-sm" v-on:change="guard_get_report()">
                            </div>
                        </div>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0 ml-3">
                                <download-excel :data="report">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>phone</th>
                                    <th>ID</th>
                                    <th>Temp</th>
                                    <th>Car</th>
                                    <th>Department</th>
                                    <th>Reason</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in report">
                                    <td>{{index+1}}</td>
                                    <td>{{data.fname}} {{data.mname}} {{data.lname}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.id_no}}</td>
                                    <td>{{data.temperature}}</td>
                                    <td>{{data.car_re_no}}</td>
                                    <td>{{data.department}}</td>
                                    <td>{{data.reason}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                report:[],

            }
        },
        created(){

        },
        methods: {
            guard_get_report() {
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `guard_get_report`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },

        }
    }

</script>
