<template>
    <div>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">

                <div class="content-wrapper d-flex align-items-center auth color-overlay" style="background-image: url(/images/bg.jpg)">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo row justify-content-center">
                                    <img src="/images/index.png" alt="logo" style="width: 20%;">
                                </div>
                                <h4 class="text-center" style="color: #FF7900;">Hello {{name}}</h4>
                                <h6 v-if="showPage==='false'" class="font-weight-light text-center">Enter the code.</h6>
                                <h6  v-else class="font-weight-light text-center">Enter new password.</h6>
                                <div class="pt-3">

                                    <div v-if="showPage==='false'" class="row justify-content-center">
                                    <div class="form-group ">
                                        <!-- <input type="text" v-model="message.code" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Code" required> -->
                                
                                        <input type="text" v-model="message.code1" class="pin-code mr-2 " maxlength=1 id="1" onkeyup="moveOnMax(this,'a')" />
                                        <input type="text" v-model="message.code2" class="pin-code mr-2" maxlength=1 id="a" onkeyup="moveOnMax(this,'b')" />
                                        <input type="text" v-model="message.code3" class="pin-code mr-2" maxlength=1 id="b" onkeyup="moveOnMax(this,'c')" />
                                        <input type="text" v-model="message.code4" class="pin-code " maxlength=1 id="c" />
                                    
                                    </div>
                                    </div>

                                    <div v-else>
                                    <div class="form-group">
                                        <input type="password" v-model="message.password" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" v-model="message.repass" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Confirm password" required>
                                    </div>
                                    </div>
                                    <div  v-if="showPage==='false'" class="mt-3">
                                        <button v-on:click="confirm()" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn submitbtn" >CONFIRM</button>
                                    </div>
                                    <div v-else class="mt-3">
                                        <button v-on:click="setPassword()" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn submitbtn" >SUBMIT</button>
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <router-link :to="{name:'login'}" href="#" class="auth-link text-black">Login?</router-link>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                name:'',
                id:'',
                phone:'',
                showPage:'false'
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.id=localStorage.getItem('id');
            this.phone=localStorage.getItem('phone');
        },
        methods: {
            confirm() {
                 this.message.code=""+this.message.code1+this.message.code2+this.message.code3+this.message.code4;
                this.message.id=this.id;
                this.message.phone=this.phone;
                loadbutton();
                let uri =this.proxyUrl+`confirm`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.showPage='true';
                        // this.$router.push({name: 'confirm'});
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    showDangerToast('System error');
                });

            },
            setPassword(){
                loadbutton();
                let uri =this.proxyUrl+`setPassword`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.$router.push({name: 'login'});
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    showDangerToast('System error');
                });
            },

        },



    }

</script>
