<template>
    <div>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">

                <div class="content-wrapper d-flex align-items-center auth color-overlay" style="background-image: url(/images/bg.jpg)">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo row justify-content-center">
                                    <img src="/images/index.png" alt="logo" style="width: 20%;">
                                </div>
                                <h4 class="text-center" style="color: #FF7900;">Forget password</h4>
                                <h6 class="font-weight-light text-center">Enter Email.</h6>
                                <form class="pt-3" v-on:submit.prevent="getCode()">
                                    <div class="form-group">
                                        <input type="email" v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Email" required>
                                    </div>
                                    <div class="mt-3">
                                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn submitbtn" type="submit">GET CODE</button>
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <router-link :to="{name:'login'}" href="#" class="auth-link text-black">Login?</router-link>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{},
            }
        },
        methods: {
            getCode() {
                loadbutton();
                let uri =this.proxyUrl+`getCode`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        localStorage.setItem('name',response.data.user.name);
                        localStorage.setItem('id',response.data.user.id);
                        localStorage.setItem('phone',response.data.user.phone);
                        showSuccessToast(response.data.message);
                        this.$router.push({name: 'confirm'});
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    showDangerToast('System error');
                });

            },

        },



    }

</script>
