<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Branches  <span class="text-warning">*Select  client to see branches*</span>({{branches.length}})</h4>
                        <div class="mb-3 mb-xl-0 float-left d-flex">
                            <div class="form-group mr-3">
                                <select class="form-control" id="exampleSelectGender">
                                    <option disabled selected="selected">Select company</option>
                                    <option v-for="data in company" v-on:click="changeId(data.id,data.company_name)">{{data.company_name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="exampleSelectGender">
                                    <option disabled selected="selected">Select client</option>
                                    <option v-for="data in clients" v-on:click="changeId2(data.id)">{{data.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex float-right">
                        <!--<div class="mb-3 mb-xl-0 ">-->
                                <!--<a v-on:click="addBranches()" class="btn btn-warning rounded-0 text-white">Add Branch</a>-->
                        <!--</div>-->
                            <div class="mb-3 mb-xl-0 ml-3">
                                <download-excel :data="branches">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Branch Name</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Location</th>
                                    <th>Sms</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in branches">
                                    <td>{{index+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.contact}}</td>
                                    <td>{{data.address}}</td>
                                    <td>{{data.location}}</td>
                                    <td v-if="data.sms==='YES'" class="text-info">{{data.sms}}</td>
                                    <td v-else class="text-danger">{{data.sms}}</td>
                                    <td v-if="data.status==='Active'"><label class="badge badge-success">{{data.status}}</label></td>
                                    <td v-else><label class="badge badge-danger">{{data.status}}</label></td>
                                    <td ><router-link :to="{name:'edit_branch',params:{id:data.id}}" class="fa fa-edit text-primary"></router-link> </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->

                        </div>
                    </div>
                </div>
            </div>


        </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{id:'',client_id:''},
                branches:[],
                clients:[],
                company:[],
                data:{amount:'',id:'',name:''},

            }
        },
        created(){
            this.admin_get_companies();
        },
        methods: {
            changeId(id) {
                this.message.id = id;
                this.admin_get_clients();
            },
            changeId2(id){
                this.message.client_id = id;
                this.admin_get_branches();
            },
            admin_get_clients() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_clients`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.clients=response.data.clients;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            admin_get_branches() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_branches`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.branches=response.data.branches;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            admin_get_companies() {
                let uri =this.proxyUrl+`admin_get_companies`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.company=response.data.companies;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }

</script>
