<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Reports -- {{report.length}} Records</h4>
                        <div class="d-flex float-left mr-3">
                            <div class="form-group">
                                <label>How do you want to select report?</label>
                                <select class="form-control" id="exampleSelectGender">
                                    <option disabled selected="selected">Select category</option>
                                    <option v-on:click="byDates()">By dates only</option>
                                    <option v-on:click="byGuard()">By guards</option>
                                    <option v-on:click="byDep()">By department</option>
                                    <option v-on:click="byRand()">By random search</option>
                                    <option v-on:click="branch_get_report_by_frequent()">By most frequent visitor</option>
                                </select>
                            </div>

                        </div>
                        <div class="d-flex float-left" v-if="showDiv==='byDate'">
                        <div class="mb-3 mb-xl-0 ">
                            <div class="form-group">
                                <label class="text-warning">Select date from </label>
                                <input type="date" v-model="message.date_from" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="mb-3 mb-xl-0 ">
                            <div class="form-group">
                                <label class="text-warning">Select date to </label>
                                <input type="date" v-model="message.date_to" class="form-control form-control-sm" v-on:change="branch_get_report()">
                            </div>
                        </div>
                        </div>

                        <div class="d-flex float-left" v-if="showDiv==='byGuard'">
                            <div class="form-group mr-3">
                                <label>Select guard</label>
                                <select class="form-control" id="exampleSelectGender">
                                    <option disabled selected="selected">Select by guard then dates</option>
                                    <option v-for="data in guards" v-on:click="changeGuardId(data.id,data.name)">{{data.name}}</option>
                                </select>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <label class="text-warning">Select date from </label>
                                    <input type="date" v-model="message.date_from" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <label class="text-warning">Select date to </label>
                                    <input type="date" v-model="message.date_to" class="form-control form-control-sm" v-on:change="branch_get_report_by_guard()">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex float-left" v-if="showDiv==='byDep'">
                            <div class="form-group mr-3">
                                <label>Select Department</label>
                                <select class="form-control" id="exampleSelectGender">
                                    <option disabled selected="selected">Select by department then dates</option>
                                    <option v-for="data in deps" v-on:click="changeDepId(data.id,data.name)">{{data.name}}</option>
                                </select>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <label >Select date from </label>
                                    <input type="date" v-model="message.date_from" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <label >Select date to </label>
                                    <input type="date" v-model="message.date_to" class="form-control form-control-sm" v-on:change="branch_get_report_by_dep()">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex float-left" v-if="showDiv==='byRand'">
                            <div class="form-group mr-3">
                                <label>Enter name or phone or ID</label>
                                <input type="text" v-model="message.key_word" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter name or phone or ID no" required>
                            </div>
                            <div class="mb-3 mb-xl-0 ">
                                <div class="form-group">
                                    <label>Click to seach </label>
                                    <button type="button" v-on:click="branch_get_report_by_rand()" class="btn btn-outline-warning btn-block"><i class="fa fa-search"></i></button>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0 ">
                                <download-excel :data="report">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>phone</th>
                                    <th>ID</th>
                                    <th>Temp</th>
                                    <th>Car</th>
                                    <th>Department</th>
                                    <th>Reason</th>
                                    <th>Input by</th>
                                    <th>Date</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in report">
                                    <td>{{index+1}}</td>
                                    <td>{{data.fname}} {{data.mname}} {{data.lname}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.id_no}}</td>
                                    <td>{{data.temperature}}</td>
                                    <td>{{data.car_re_no}}</td>
                                    <td>{{data.department}}</td>
                                    <td>{{data.reason}}</td>
                                    <td>{{data.user}}</td>
                                    <td>{{data.created_at}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!--		Start Pagination -->

                        </div> <!-- 		End of Container -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    guard_id:'',
                    dep_id:'',
                },
                report:[],
                showDiv:'No',
                guards:[],
                deps:[],

            }
        },
        created(){

        },
        methods: {
            changeGuardId(id,name){
                this.message.guard_id=id;
            },
            changeDepId(id,name){
                this.message.dep_id=id;
            },
            byDates(){
                this.showDiv='byDate';
            },
            byGuard(){
                this.showDiv='byGuard';
                this.branch_get_guards();
            },
            byDep(){
                this.showDiv='byDep';
                this.client_get_department();
            },
            byRand(){
                this.showDiv='byRand';
            },
            client_get_department(){
                let uri = this.proxyUrl + `client_get_department`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    this.deps=response.data.department;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report_by_rand(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report_by_rand`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report_by_frequent(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report_by_frequent`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report_by_guard(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report_by_guard`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report_by_dep(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report_by_dep`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            branch_get_report() {
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_report`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.report = response.data.report;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            branch_get_guards() {
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `branch_get_guards`;
                this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.guards = response.data.guards;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });

            },

        }
    }

</script>
