<template>
    <div>
<div class="row justify-content-center">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Clients for <span class="text-success">{{message.name}}</span>-- ({{clients.length}})</h4>
                <div class="mb-3 mb-xl-0 float-left">
                    <div class="form-group">
                        <select class="form-control" id="exampleSelectGender">
                            <option disabled selected="selected">Select company</option>
                            <option v-for="data in company" v-on:click="changeId(data.id,data.company_name)">{{data.company_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex float-right">
                <div class="mb-3 mb-xl-0 ml-3">
                    <download-excel :data="clients">
                        <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                    </download-excel>
                </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Company Name</th>
                            <th>Country</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Location</th>
                            <th>Branches</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(data ,index) in clients">
                            <td>{{index+1}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.country}}</td>
                            <td>{{data.contact}}</td>
                            <td>{{data.address}}</td>
                            <td>{{data.location}}</td>
                            <td>{{data.branches}}</td>
                            <td v-if="data.status==='Active'"><label class="badge badge-success">{{data.status}}</label></td>
                            <td v-else><label class="badge badge-danger">{{data.status}}</label></td>
                            <td ><router-link :to="{name:'get_cleint_details',params:{id:data.id}}" class="fa fa-edit text-primary"></router-link> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                clients:[],
                company:[],
                message:{id:'',name:''}
            }
        },
        created(){
                this.admin_get_companies();
        },
        methods: {
            changeId(id,name){
                this.message.id=id;
                this.message.name=name;
                this.admin_get_clients();
            },
            admin_get_companies() {
                let uri =this.proxyUrl+`admin_get_companies`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.company=response.data.companies;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            admin_get_clients() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_clients`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                   this.clients=response.data.clients;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },

        },



    }

</script>
