<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Companies ({{clients.length}})</h4>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0 ml-3">
                                <download-excel :data="clients">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Company Name</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Pin</th>
                                    <th>Clients</th>
                                    <th>Branches</th>
                                    <th>Amount</th>
                                    <th>SMS</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Enabled?</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in clients">
                                    <td>{{index+1}}</td>
                                    <td>{{data.company_name}}</td>
                                    <td>{{data.contact}}</td>
                                    <td>{{data.address}}</td>
                                    <td>{{data.pin}}</td>
                                    <td>{{data.clients}}</td>
                                    <td>{{data.branches}}</td>
                                    <td v-if="data.amount>0"><label class="badge badge-success">Ksh {{formatPrice(data.amount)}} <a v-on:click="showModal(data.amount,data.id,data.name)" class="fa fa-edit ml-3"></a></label></td>
                                    <td v-else><label class="badge badge-danger">Ksh {{formatPrice(data.amount)}} <a v-on:click="showModal(data.amount,data.id,data.company_name)" class="fa fa-edit ml-3"></a></label></td>
                                    <td>{{data.sms}}</td>
                                    <td class="text-black-50 font-weight-bold">Ksh {{formatPrice((+data.branches * +data.amount)+(+data.sms * 2))}}</td>
                                    <td v-if="data.status==='Active'"><label class="badge badge-success">{{data.status}}</label></td>
                                    <td v-else><label class="badge badge-danger">{{data.status}}</label></td>
                                    <td v-if="data.enabled==='YES'"><label class="badge badge-success">{{data.enabled}}</label></td>
                                    <td v-else><label class="badge badge-danger">{{data.enabled}}</label></td>
                                    <td ><router-link :to="{name:'edit_company',params:{id:data.id}}" class="fa fa-edit text-primary"></router-link> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editbranch" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Edit {{data.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="pt-3" v-on:submit.prevent="admin_update_company_detail()">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Amount to be paid per branch</label>
                                        <input type="text" v-model="data.amount" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Amount" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary submitbtn">Update</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                clients:[],
                data:{id:'',amount:'',name:''}
            }
        },
        created(){
            setTimeout(() => {
                this.admin_get_companies();
            }, 2000);
        },
        methods: {
            showModal(amount,id,name){
                this.data.id=id;
                this.data.amount=amount;
                this.data.name=name;
                $("#editbranch").modal("show");
            },
            admin_update_company_detail() {
                loadbutton();
                let uri =this.proxyUrl+`admin_update_company_detail/${this.data.id}`;
                this.axios.post(uri, this.data,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.admin_get_companies();
                        $("#editbranch").modal("hide");
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            admin_get_companies() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`admin_get_companies`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.clients=response.data.companies;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },



    }

</script>
