<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Companies ({{clients.length}})</h4>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0 ml-3">
                                <download-excel :data="clients">
                                    <a class="btn btn-primary rounded-0 text-white fa fa-print"></a>
                                </download-excel>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Company Name</th>
                                    <th>Country</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Pin</th>
                                    <th>Clients</th>
                                    <th>Branches</th>
                                    <th>Amount</th>
                                    <th>SMS</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data ,index) in clients">
                                    <td>{{index+1}}</td>
                                    <td>{{data.company_name}}</td>
                                    <td>{{data.country}}</td>
                                    <td>{{data.contact}}</td>
                                    <td>{{data.address}}</td>
                                    <td>{{data.pin}}</td>
                                    <td>{{data.clients}}</td>
                                    <td>{{data.branches}}</td>
                                    <td v-if="data.amount>0"><label class="badge badge-success">Ksh {{formatPrice(data.amount)}} <a v-on:click="showModal(data.amount,data.id,data.name)" class="fa fa-edit ml-3"></a></label></td>
                                    <td v-else><label class="badge badge-danger">Ksh {{formatPrice(data.amount)}} <a v-on:click="showModal(data.amount,data.id,data.company_name)" class="fa fa-edit ml-3"></a></label></td>
                                    <td>{{data.sms}}</td>
                                    <td class="text-black-50 font-weight-bold">Ksh {{formatPrice((+data.branches * +data.amount)+(+data.sms * 2))}}</td>
                                    <td v-if="data.status==='Active'"><label class="badge badge-success">{{data.status}}</label></td>
                                    <td v-else><label class="badge badge-danger">{{data.status}}</label></td>
                                    <td ><router-link :to="{name:'edit_company',params:{id:data.id}}" class="fa fa-edit text-primary"></router-link> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                clients:[],
                data:{id:'',amount:'',name:''}
            }
        },
        created(){
            setTimeout(() => {
                // this.admin_get_companies();
            }, 2000);
        },
        methods: {

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },



    }

</script>
